
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

html {
  font-size: 14px;
  line-height: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;
}

a {
  color: #f42;
  text-decoration: none;
}

a:hover {
  color: #000;
}

ul {
  list-style: none;
}

h2 {
  font-family: Avalon, sans-serif;
  color: #f42;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.015em;
}

h3 {
  color: #f42;
  font-size: 1.42rem;
  font-weight: 700;
  line-height: 1.1;
}

h4 {
  font-weight: 700;
  line-height: 1.25;
}

h5 {
  font-family: Shentox, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  line-height: 1.4;
}

[class*="col-"] {
  flex: 0 0 auto;
  padding: 0.57em;
  position: relative;
}

.col-xs-12 {
  max-width: 100%;
}

/*
  ========================================
  icon styles
  ========================================
*/

.investment-icon {
  font-size: 1.3rem;
  color: #000;
  margin-right: 0.6em;
}

.cover-icon {
  font-size: 1.5em;
  margin-right: 0.6em;
}

/*
  ========================================
  Nav
  ========================================
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.navbar,
.nav-pop-out,
.nav-bottom-static,
.pop-out-left,
.pop-out-right,
.nav-section,
.nav-icons {
  display: flex;
}

.nav-wrapper {
  width: 85%;
  background: #fff;
}

.nav-bottom-static,
.nav-pop-out {
  width: 98%;
  justify-content: space-between;
}

.nav-logo {
  top: 0;
  left: 0;
  width: 7.71em;
  height: 3.85em;
  display: block;
}

.nav-logo a {
  display: block;
  padding: 1.28em 1.4em;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  background-color: #f42;
}

.nav-bottom-static {
  padding-left: 1.2em;
}

.nav-icons a {
  color: #aaa;
  font-size: 1.4em;
}

.cover a {
  color: #fff;
}

.cover-byline a {
  color: hsla(0, 0%, 100%, 0.6);
}

.story-title a {
  color: #000;
}

.story-byline a {
  color: #aaa;
}

.section-popular-title a {
  color: #fff;
}

.section-popular-byline a {
  color: hsla(0, 0%, 100%, 0.6);
}

.footer-links-menu a {
  color: #aaa;
}

.section-headline h4 a {
  display: block;
  padding: 0.42em 0 0.42em 1em;
  position: relative;
  color: #555;
}

.footer-links-social li a {
  background-color: #333;
  border-radius: 50%;
  display: block;
  height: 3em;
  width: 3em;
  padding: 1em;
  text-align: center;
  color: #fff;
}

.nav-bottom-static a:hover {
  color: #000;
}

.nav-icons {
  margin-left: auto;
}

.nav-icons li {
  display: block;
  padding: 1.2em 1.6em;
  border-left: 1px solid #eee;
  color: #aaa;
}

.red-light {
  color: #f42;
}

.nav-pop-out,
.nav-section,
.display-none {
  display: none;
}

/*
  ========================================
  Main body
  ========================================
*/

.main {
  width: 100%;
}

.cover {
  margin: 0 auto;
  margin-top: 3.71em;
  padding: 0.285em;
  position: relative;
}

.cover article {
  min-height: 30vh;
  position: relative;
}

.cover-story {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.cover-trigger,
.cover-image {
  position: absolute;
  bottom: 4px;
  left: 4px;
  top: 4px;
  right: 4px;
}

.cover-image {
  display: block;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.cover-trigger {
  transition: background-color 0.4s ease;
  background: rgba(0, 0, 0, 0.25) url(../img/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

.cover-date {
  display: none;
}

.cover-header {
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  padding: 1em 0.85em;
  z-index: 3;
}

.cover h5 {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
}

.cover h2 {
  font-size: 1.4rem;
  margin-bottom: 0.4em;
}

.cover-byline {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.85rem;
  line-height: 1.14em;
}

.cover-byline li {
  display: inline-block;
  margin-left: 0.42em;
}

.story-byline li {
  display: block;
  display: inline-block;
  margin-right: 0.5em;
}

.section-popular-byline li {
  display: inline-block;
  margin-right: 1em;
}

.footer-links-social li {
  display: inline-block;
  margin: 0 0.1em;
}

.footer-links-menu li {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.92em;
  line-height: 1.71;
  margin: 0 0.28em;
}

.cover-byline li:first-child {
  margin-left: 0;
}

/*
  ========================================
  Latest news
  ========================================
*/

.container {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 1.42em;
}

.latest {
  margin-bottom: 2em;
  padding-top: 1.71em;
}

.latest h2 {
  margin-bottom: 0.8em;
}

.u-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: -0.57em;
}

.ul-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

[class*="u-col-"],
[class^="u-col-"] {
  flex: 0 0 auto;
  padding: 0.57em;
  position: relative;
}

.story--smallMobile {
  padding-left: 6.285em;
  position: relative;
}

.story-image {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  margin-bottom: 0.57em;
}

.story--smallMobile .story-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 5.35em;
  padding-top: 5.35em;
}

.story--smallMobile,
.story-title {
  font-size: 1rem !important;
  font-weight: 700;
  line-height: 1.2em !important;
}

.story-byline {
  color: #aaa;
  font-size: 0.85rem;
  padding-top: 0.28em;
  font-weight: 300;
  margin-top: 0;
  border-top: 1px solid rgba(255, 68, 34, 0.25);
}

.u-row .story-byline {
  border: none !important;
}

.story-byline::after {
  content: "";
  display: block;
  margin-bottom: 1em;
}

/*
  ========================================
  Latest funding rounds
  ========================================
*/

.deals-header h2 {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.045em;
}

/* arrow */
.right-arrow::after {
  background: url(../img/svg/arrow.svg);
  background-size: 16px 16px;
  content: " ";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.deals-header .deals-header-more {
  display: block;
  padding-bottom: 0.2em;
  font-size: 1em;
  font-weight: 300;
}

.deals-header .deals-header-more:hover {
  color: #000;
}

.deals-header .deals-header-more:first-of-type {
  padding-top: 1em;
}

.deals-header ul:last-of-type::after {
  display: block;
  width: 100%;
  content: "";
  margin-bottom: 2em;
}

.verticals {
  margin-bottom: 2em;
}

.vertical {
  min-height: 60px;
  position: relative;
}

.vertical:last-of-type {
  display: none;
}

.vertical::before {
  background: rgba(255, 68, 34, 0.03);
  content: "";
  position: absolute;
  bottom: 8px;
  right: 8px;
  left: 8px;
  display: block;
  pointer-events: none;
}

.story--investment {
  background: #fffaf8;
}

.story-investmentCard-header {
  position: relative;
  display: block;
}

.story-investmentCard-company-image {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 10.66667px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.story-investmentCard-name {
  background: #f42;
  color: #fff;
  padding: 10.6666667px 16px 10.6666667px 84px;
  margin: 0 !important;
  font-size: 18px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.story-investmentCard-deets {
  padding: 10.6666667px 16px 10.6666667px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  margin: 0;
}

.story-investmentCard-deets h4 {
  font-size: 1.28rem;
  color: #000;
  margin: 0 !important;
}

.story-investmentCard-deets h5 {
  color: #000;
  opacity: 0.5;
  font-size: 0.78rem;
  letter-spacing: -0.04em;
}

.story-investmentCard-card {
  padding: 1.14em;
}

.story-investmentCard-bit {
  padding-left: 2em;
  position: relative;
  font-size: 0.92rem;
  color: #555;
  margin-right: 1em;
  display: block;
  line-height: 2.5;
}

.vertical .story-byline {
  padding-top: 0.625em;
}

.story-addPadding {
  padding: 1.14em;
}

.vertical a.story-title-link {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}

.vertical .story-title-source {
  color: #aaa;
}

/*
  ========================================
  section
  ========================================
*/

.lazy.lazyLoaded {
  opacity: 1;
}

.section h2 {
  margin-bottom: 1em;
}

.section-popular {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.section-popular-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.section-popular-trigger {
  background: transparent url(../img/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.section-popular-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  z-index: 3;
}

.section-popular-section {
  color: #fff;
  font-size: 0.92em;
  pointer-events: none;
}

.section-popular-title {
  margin-bottom: 0.42em;
}

.section-popular-byline {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.14em;
}

.section-latest {
  display: flex;
  background-color: rgba(255, 68, 34, 0.06);
  margin: 0.142em 0;
}

.section-latest-header {
  flex: 1;
  overflow: hidden;
  padding: 0.71em 1em 0;
}

.section-latest-section {
  color: #f42;
  font-size: 0.92rem;
}

.section-latest-title {
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.section-latest-image {
  flex: 0 0 96px;
  background-color: #f42;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.lazy {
  transition: 0.4s ease;
}

.section-headline {
  border-bottom: 1px solid #eee;
}

.section-headline h4 {
  font-size: 0.92rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-headline h4 a::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  height: 4px;
  position: absolute;
  left: 0;
  top: 13px;
  width: 4px;
}

/*
  ========================================
  latest deals
  ========================================
*/

.deals {
  margin-bottom: 2em;
}

.story-dealDiscount {
  display: none;
}

.deals-header {
  margin-bottom: 1.72em;
  display: flex;
  flex-direction: column;
}

.deals-header::after {
  content: "";
  display: block;
  clear: both;
}

.story--deal .story-dealPrice {
  color: #aaa;
  font-size: 0.85rem;
  line-height: 1.28em;
  padding-top: 0.28em;
  vertical-align: baseline;
}

.story-dealPrice-old {
  text-decoration: line-through;
  margin-right: 0.28em;
}

.story-dealPrice-new {
  color: #555;
  font-size: 1rem;
}

/*
  ========================================
  footer
  ========================================
*/

.footer {
  position: relative;
  text-align: center;
  z-index: 4;
}

.footer-links {
  background: #131313;
  padding: 2.5em 0;
}

.footer-links-social {
  margin-bottom: 1.5em;
}

.footer-legal {
  background: #000;
  color: #aaa;
  font-size: 0.92rem;
  padding: 2.5em 0;
}

.footer-legal span {
  display: block;
}

.footer-legal-logoStackPath,
.footer-legal-logoTNW {
  display: inline-block;
  height: 0.64em;
  margin-right: 0.2em;
}

.footer-legal span b {
  color: #f42;
  font-weight: 700;
}

/*
  ========================================
  Media queries
  ========================================
*/

@media (max-width: 767px) {
  .cover-story {
    min-height: 30vh;
  }

  .story--smallMobile {
    min-height: 5.142em;
  }

  .story-title {
    margin-bottom: 0.1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }

  .container {
    width: 95%;
    margin: 0 auto;
    padding: 0 2em;
  }

  .nav-wrapper {
    width: 100%;
  }

  .nav-bottom-static,
  .nav-pop-out {
    width: 100%;
  }

  .nav-pop-out,
  .nav-section {
    display: flex;
  }

  .nav-logo {
    height: 5.71em;
  }

  .nav-logo a {
    padding: 2.2em 1.4em;
  }

  .nav-pop-out li {
    margin-right: 0.7em;
  }

  .nav-pop-out {
    padding: 0.65em 1.2em;
    background: #000;
  }

  .nav-pop-out a {
    font-size: 0.9em;
    color: hsla(0, 0%, 100%, 0.6);
  }

  .nav-bottom-static li:first-child .first {
    padding-left: 0;
  }

  .nav-bottom-static a {
    display: block;
    font-size: 0.95rem;
    padding: 1.28em 0.71em;
    font-family: Shentox, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 0.04em;
  }

  .nav-icons {
    margin-left: 0;
  }

  .nav-icons li {
    padding: 0;
  }

  /* Cover articles */
  .cover {
    margin-top: 5.71em;
    height: 65vh;
  }

  .cover-header {
    padding: 1.14em 0.85em;
  }

  .cover-header h2 {
    font-size: 2.85rem;
    line-height: 1.2;
  }

  .second-cover .cover-header h2,
  .third-cover .cover-header h2 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.2;
  }

  .big-cover {
    grid-area: bigCover;
  }

  .second-cover {
    grid-area: secondCover;
  }

  .third-cover {
    grid-area: thirdCover;
  }

  .cover-grid-3 {
    display: grid;
    grid-template-areas:
      "bigCover bigCover secondCover"
      "bigCover bigCover thirdCover";
  }

  /* latest news */

  .latest {
    margin-bottom: 3em;
  }

  .u-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .ul-col-m-4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }

  [class*=u-col-] {
    padding: 0.71em;
  }

  [class*="u-col-"],
  [class^="u-col-"] {
    flex: 0 0 auto;
    position: relative;
  }

  .story-image {
    width: 100%;
    position: relative;
    height: 30vh;
  }

  .story-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .story--smallMobile .story-image {
    position: relative;
    width: 100%;
    height: 40vh;
  }

  .story--smallMobile {
    padding-left: 0;
  }

  /* Funding section */
  .deals-header {
    width: 100%;
  }

  .deals-header ul li {
    padding: 1.2em 0 0;
    display: inline-block;
    margin-left: 0.7em;
  }

  .deals-header ul li:not(:last-child)::after {
    display: inline-block;
    content: "|";
    padding-left: 0.3em;
    font-size: 1rem;
    color: #f42;
  }

  .deals-header-more {
    line-height: 1.2;
  }

  .deals-header .deals-header-more {
    font-size: 1.2rem;
    font-weight: 300;
    display: inline;
  }

  .deals-header ul:last-of-type::after {
    margin: 0;
  }

  .verticals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .deals .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .deals .deals-header .deals-header-more {
    width: 10%;
    margin-left: auto;
  }

  .discount-text,
  .story-dealDiscount {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .story-dealDiscount {
    height: 5.71em;
    width: 5.71em;
    border-width: 3em;
    border-style: solid;
    border-color: yellow yellow transparent transparent;
    z-index: 10;
  }

  .discount-text {
    top: 1.4em;
    right: 0.8em;
    color: #000;
    z-index: 11;
    transform: rotate(45deg);
    transition: transform all 0.2s ease-in-out;
  }

  /*
  ========================================
  Nav dropdown
  ========================================
*/

  .drop-down {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 2em;
    left: -1em;
    background-color: #000;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 99999999999999;
  }

  .dropdown-content a {
    color: hsla(0, 0%, 100%, 0.6);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .reduce-size {
    min-width: 100px;
  }

  li a:hover {
    color: #e7662d;
  }

  .drop-down:hover .dropdown-content {
    display: block;
  }

  .dropdown-content::after {
    content: "";
    position: absolute;
    top: -1.31em;
    left: 20%;
    margin-left: -5px;
    border-width: 0.7em;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
  }

  li.mob-display {
    display: none;
  }

  .footer-legal span {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    position: relative;
    display: none;
  }

  .display-none {
    display: block;
  }

  .cover article {
    min-height: 40vh;
  }

  .cover-date {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99;
    color: #fff;
  }

  .cover-header h2 {
    font-size: 3.85rem;
    line-height: 1.2;
    font-weight: 800;
  }

  .cover-gradient {
    background: transparent url(../img/cover-gradient.png);
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    top: 0.28em;
    bottom: 0.28em;
    left: 0.28em;
    right: 0.28em;
    mix-blend-mode: lighten;
    z-index: 4;
    pointer-events: none;
  }

  .cover-logo {
    color: #fff;
    position: absolute;
    right: 1.71em;
    background: transparent url(../img/svg/tnw.svg);
    background-size: cover;
    left: 1.17em;
    max-width: 60%;
    height: 100%;
    max-height: 8em;
    line-height: 1;
    top: 1.71em;
    z-index: 5;
    pointer-events: none;
    text-align: right;
  }

  .container {
    width: 100%;
    margin-top: 7em;
  }

  .u-row {
    grid-template-columns: repeat(4, 1fr);
  }

  .deals-header {
    justify-content: space-between;
  }

  .deals-header ul {
    align-self: center;
  }

  .dropdown-content li {
    width: 100%;
    border-bottom: 1px solid #666;
  }

  .deals-header ul li a,
  .deals-header ul li {
    padding: 0;
  }

  .vertical:last-of-type {
    display: block;
  }

  .deals .row {
    grid-template-columns: repeat(4, 1fr);
  }

  .sections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1212px) {
  .display-none {
    display: block;
  }
}
